.game{
    display: grid;
    grid-template-columns:repeat(3, min(500px));
    
}

.game > #board{
    grid-column-start: span 2;
    display: grid;
    padding: 3rem;
    height: 550px;
    width: 700px;
}

.game > #controls
{
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
    padding: 2rem;
}

.flexItem{
    margin: 10px;
}

.backbtn
{
    margin-left: 50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 8px;

}
.backbtn:hover
{
   background-color: purple;
}
