#index_title {
    font-size: 89px;
}
img.puttputt {
    width: 250px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}
img.maze {
    width: 250px;
}
em {
    color: blue;
    font-style: normal;
}
div.mascot {
    position: absolute;
    right: -1px;
    bottom: 277px;
    border-radius: 50px;
    font-size: 37px;
}
#connect_button {
    height: 150px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
}
body {
    background-color: lightblue;
}

.main_button{
    width: 250px;
    height: 80px;
    margin: 20px;
    justify-content: center;

}