{% extends 'base.html' %}
{% block head %}
    <title>GamePage</title>
{% endblock %}
{% block body %}
<!--<img src="{{url_for('static', filename='images/PuttPutt.png')}}" alt="Car Image Not Found" id="img" />-->
<h1 id="header">Maze Driver</h1>
<div class="container name">
    <div class="row">
        <div class="col box">
            <div class="row">
                <p>Control Center</p>
            </div>
            <div class="row smallbox">
                <div class="col">
                    <p> Choose the following commands: </p>
                    <button id="forward" type="button" class="btn btn-primary btnMargin">Move Forward</button>
                    <button id="backward" type="button" class="btn btn-primary btnMargin">Move Backward</button>
                    <button id="left" type="button" class="btn btn-primary btnMargin">Move Left</button>
                    <button id="right" type="button" class="btn btn-primary btnMargin">Move Right</button>
                </div>
                <div class="col leftline">
                    <p>Selected command(s):{{a}}</p>
                    <div class="col box1">
                        <p id="cmds"></p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <button id="clear" type="button" class="btn btn-primary btnMargin">Clear Command</button>
                </div>
                <div class="col">
                    <form method="post">
                        <input name="cmdList" type="hidden" value="">
                        <input id="submit" type="submit" class="btn btn-primary btnMargin" value="Execute Command">
                    </form>
                </div>
            </div>
        </div>
        <div class="col box">
            <div class="row">
                <p>Dashboard</p>
                <div class="row box2">
                    {% if data %}
                    <div class="col">
                        <p>Status: <em class="stat">{{ data["status"] }}</em></p>
                    </div>
                    <div class="col">
                        <p>State: <em class="stat">{{ data["state"] }}</em></p>
                    </div>
                    <div class="col">
                        <p>Distance: <em class="stat">{{ data["dist"] }}</em></p>
                    </div>
                    <div class="col">
                        <p>Speed: <em class="stat">{{ data["speed"] }}</em></p>
                    </div>
                    {% endif %}
                    <div class="col">
                        <p>Time:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Virtual Map</p>
                <div class="row box2">
                    map
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


