{% extends 'base.html' %}
{% block head %}
    <title>Main menu</title>
{% endblock %}
{% block body %}
<body oncontextmenu="return false";>
<div class="container">
<!--    <h1 id="index_title" class="text-center">Maze Driver</h1>-->
    <div class="row align-items-center">
        <div class="col">
            <div class="row">
<!--                data is a list, i only want the status attribute in data which is the 2nd item so data[1]-->
                <p>Robot Car Connection Status : <p style="color:red">{{data['status']}}</p></p>
            </div>
            <div class="row">
                <h3 class="main">Hey kids! Click on the <em><b>Main Levels</b></em> button to get the game started!</h3>
            </div>

        </div>

        <div class="col text-center">

            <div class="form-group">
                <a href="/selectlevel?" class="btn btn-primary main_button">Main Levels</a>
            </div>
            <div class="form-group">
                <a class="btn btn-primary main_button">Custom Levels</a>
            </div>
            <div class="form-group">
                <button id="open_form_btn" onclick="open_form_btn1()" class="btn btn-primary main_button">Configure Levels</button>
            </div>
            <div class="popup_form" id="my_form">
                <form id="form" class="form_container" autocomplete=OFF>
                <h1>Faciliator Login</h1>
                <label>Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required autocomplete="off">
                <button type="submit" id="login" onclick="validate()" class="login_btn">Login</button>
                <button class="cancel_btn" onclick="close_btn()">Close</button>
                </form>
            </div>
            <div class="form-group">
                <form method="post" action="{{ url_for('index') }}">
                    <button type="submit "class="btn btn-primary main_button">Exit</button>
                </form>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <img class="puttputt" src="{{url_for('static', filename='images/PuttPutt.png')}}" alt="Car Image Not Found"/>
            </div>
            <div class="row">
                <h3 class="custom">You can also try the <em><b>Custom Levels</b></em> for extra challenges later on.Have fun!</h3>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <div class="row">
        <div class="col-sm">

        </div>

        <div class="col-sm">


        </div>

        <div class="col-sm">

        </div>
    </div>
</div>
</body>
{% endblock %}

